---

---

<div class="mt-[50vh] h-screen" id="experinece">
    <h1 class="text-4xl font-bold my-5 text-center text-mocha-peach">Experience</h1>

    <div class="flex justify-center items-center mt-20">
        <div class="w-4 h-4 bg-mocha-peach rounded-full"></div>
      </div> 
    <div class="container mx-auto px-4 py-2">
        <!-- Timeline container -->
        <div class="relative">
            <!-- Timeline line -->
            <div
                class="absolute h-full border-l-2 border-gray-300 md:left-1/2 left-1/4 transform -translate-x-1/2"
            >
            </div>

            <!-- Timeline items -->
            <div class="space-y-8">
                <!-- first item -->
                <div class="flex items-center w-full">
                    <div class="md:w-1/2 w-1/4 text-right mr-10">
                        <!-- Dot on the timeline -->
                        <div class="">2021-2025</div>
                    </div>
                    <div class="md:w-1/2 w-3/4 pl-8 mt-6">
                        <h3 class="font-semibold text-lg">
                            Betriebsinformatiker EFZ
                        </h3>
                        <p class="text-mocha-subtext0">Lehner-Versand AG</p>
                        <p class="text-mocha-subtext1">
                            Entry into computer science...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
