---

---

<div class="flex flex-col justify-center items-center mt-[50vh]" id="projects">
    <div>
        <h1 class="text-4xl font-bold text-mocha-pink">Projects</h1>
    </div>

    <!-- Flexbox Container -->
    <div class="flex flex-wrap justify-center gap-4 my-10 text-center">
        <div class="flex flex-col items-center justify-center bg-mocha-surface1 m-2 p-2 rounded-xl aspect-square hover:shadow-lg hover:scale-105 transition-all duration-200">
                <h2 class="text-xl my-4">Sportschützen-Menziken</h2>
                <a target="_blank" class="p-2 bg-mocha-surface1 text-mocha-green rounded hover:bg-mocha-green border-mocha-green border-2 hover:text-mocha-crust" href="http://www.sportschuetzen-menziken.ch">View Project <i class="bi bi-arrow-right"></i></a>
        </div>

    </div>
</div>

